<!doctype html>
<html>

<head>
    <title>Angular Demo</title>
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->

    <!-- build:css vendor/bootstrap/bootstrap.min.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- /build -->
    
    <!-- build:js vendor/angular/angular.min.js -->
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <!-- /build -->

    <!-- build:js vendor/angular-bootstrap/ui-bootstrap-tpls.min.js -->
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- /build -->

    <!-- build:js vendor/angular-ui-router/angular-ui-router.min.js -->
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- /build -->

    <!-- build:js app.min.js -->
    <script type="text/javascript" src="service/service.js"></script>
    <script type="text/javascript" src="service/logService.js"></script>
    <script type="text/javascript" src="service/aWeatherService.js"></script>
    <script type="text/javascript" src="service/aTaskService.js"></script>
    <script type="text/javascript" src="controller/controller.js"></script>
    <script type="text/javascript" src="controller/mainCtrl.js"></script>
    <script type="text/javascript" src="controller/authCtrl.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <!-- /build -->

    <style type="text/css">
        .header {
            color:white;
            background:darkBlue;
            margin-bottom:2px;
        }
    </style>

</head>

<body>
    <div class="container" ng-app="MyAppModule">
        <div ng-controller="MainCtrl as main">
            <div style="border:1px solid blue;margin-top:10px;">
                <div class="header">
                    <span>Demo angular data binding & event</span>
                </div>
                <span id="message">{{main.message}}</span>
                <button class="btn btn-sm btn-warning" ng-click="main.change()">submit</button>
            </div>
            <div style="border:1px dotted brown;margin-top:10px;">
                <div class="header">
                    <span>Demo Weather info from api using $http</span>
                </div>
                <button id="loadWeather" class="btn btn-sm btn-danger" ng-click="main.loadWeather()">Load Weather Data</button><br>
                <span id="weather">{{main.weather}}</span>
            </div>
            
        </div>

        <div ng-controller="AuthCtrl as auth">
            <div style="border:1px dashed green;margin-top:10px;">
                <div class="header">
                    <span>Demo ui-router</span>
                </div>

                <div class="row">
                  <div class="col-md-2">
                      <ul class="nav nav-pills nav-stacked">
                           <li><a ui-sref="register" id="register">Register</a></li>
                           <li> <a ui-sref="login" id="login">Login</a>  </li>
                      </ul>
                  </div>
                  <div class="col-md-10">
                      <div ui-view></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
